body{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    padding-left: 10px;
    display:flex;
    justify-content:center;
}
.inputContainer button{
    background-color:#b5d1ff ;
    border-style: none;
    padding:10px;
    border-radius: 10px;
    color:#465c80;
}

h1{
    padding-left: 10px;
    color:#465c80;
    text-align:center;
}

.inputContainer input{
    padding:10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color:#465c80 ;
    border-style: solid;
}

.tareaContainer{
    display: flex;
    justify-content:center;
}

.tareaContainer div{
    width: 300px;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}

.tareaContainer div p{
    padding-top:10px;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #b5d1ff;
}


.comp{
    background-color:#cfedff;
    margin-left: -10px;
    border-radius: 10px;
    max-width: 280px;
    

}



.tareaCont{
   
    max-width: 240px;
    background-color:white;
    
    
}

.divButtons{
    display: flex;
    max-width: fit-content;
    align-items: center;
    margin-left: 250px;
    margin-top:-80px;
   
 
}

.deleteBtn{
    position: relative;
    background-color: #ff7e73;
    border-style: none;
    border-radius: 5px;
   
     
}

.fechaCont{
    font-size: 5px;
    margin-left:-40px;
}


.moveLeft{
    position: relative;
   
    background-color: #e9ff8a;
    border-style: none;
    border-radius: 5px;
   
     
}

.moveRight{
    position: relative;
    
    background-color: #a3ddff;
    border-style: none;
    border-radius: 5px;
   
     
}

#doneTareas{
    background-color: #e4e7eb;
    width: 280px;
    height:400px;
}
#doingTareas{
    background-color: #e4e7eb;
    width: 280px;
    height:400px;
}
#todoTareas{
    background-color: #e4e7eb;
    width: 280px;
    height:400px;
}

.idTarea{
    color: #cfedff;
}